<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Desafio</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>

        <header>

            <nav>
                <ul>
                    <li><a href="#inicio">Início</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                    <li><a href="#personagens">Personagens</a></li>
                    <li><a href="#curiosidades">Curiosidades</a></li>
                </ul>
            </nav>

        </header>

        <main>
            <section class="inicio" id="inicio">
                <div class="overlay">
                    <div class="container-inicio">
                        <h1>Multiverso Marvel</h1>
                        <p>Explore o multiverso dos heróis mais poderosos do
                            planeta. De Nova York a Wakanda, de Asgard aos
                            confins do espaço, a próxima lenda começa aqui.</p>
                        <a href="#sobre" class="btn">Começar Exploração</a>
                    </div>
                </div>
            </section>

            <section class="sobre" id="sobre">
                <div class="container-sobre">
                    <h2>Sobre a Marvel</h2>

                    <div class="conteudo-sobre">
                        <img src="/static/image/marvel-logo.jpg"
                            alt="Imagem histórica da Marvel">

                        <div class="texto-sobre">
                            <p>
                                A Marvel começou sua jornada como uma editora de
                                quadrinhos nos anos 1930, mas foi em 1961, com
                                Stan Lee e Jack Kirby, que surgiu a revolução:
                                heróis humanos, cheios de falhas, que
                                conquistaram o mundo.
                            </p>
                            <p>
                                Homem-Aranha, Homem de Ferro, X-Men e muitos
                                outros se tornaram ícones globais, influenciando
                                gerações com histórias que misturam ficção,
                                drama, humor e ação.
                            </p>
                            <p>
                                Hoje, o Universo Cinematográfico Marvel (MCU)
                                transformou esses personagens em lendas
                                modernas, com filmes, séries e eventos
                                interconectados que marcaram a cultura pop para
                                sempre.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="personagens-container" id="personagens">
                <h2>Personagens</h2>
                <div class="personagens">
                    <div class="card">
                        <img src="/static/image/spider.jpg"
                            alt="Homem-Aranha">
                        <h3>Homem Aranha</h3>
                        <p class="descricao">Peter Parker, o jovem fotógrafo que
                            ganhou poderes aracnídeos após uma mordida de aranha
                            radioativa.</p>
                    </div>

                    <div class="card">
                        <img src="/static/image/iron.jpg"
                            alt="Homem de Ferro">
                        <h3>Homem de Ferro</h3>
                        <p class="descricao">Tony Stark, bilionário e gênio da
                            engenharia, usa uma armadura high-tech para combater
                            o
                            crime.</p>
                    </div>

                    <div class="card">
                        <img src="/static/image/gambit.jpg"
                            alt="Gambit">
                        <h3>Gambit</h3>
                        <p class="descricao">Remy LeBeau, conhecido como Gambit,
                            é um mutante cajun com a habilidade de carregar
                            objetos com energia cinética explosiva, geralmente
                            cartas de baralho. Ele é carismático, misterioso e
                            membro dos
                            X-Men.

                        </p>
                    </div>

                    <div class="card">
                        <img src="/static/image/wolverine.jpg"
                            alt="Wolverine">
                        <h3>Wolverine</h3>
                        <p class="descricao">Logan, o Wolverine, é um mutante
                            com
                            sentidos aguçados, fator de cura acelerado e garras
                            retráteis de adamantium. Selvagem e implacável, ele
                            é um dos X-Men mais icônicos e carrega um passado
                            sombrio.
                        </p>
                    </div>

                    <div class="card">
                        <img src="/static/image/capitao.jpg"
                            alt="Capitão">
                        <h3>Capitão América</h3>
                        <p class="descricao">Steve Rogers, o Capitão América, é
                            um super-soldado símbolo de coragem, justiça e
                            liderança. Armado com seu escudo indestrutível.
                        </p>
                    </div>

                    <div class="card">
                        <img src="/static/image/venom.jpg"
                            alt="Venom">
                        <h3>Venom</h3>
                        <p class="descricao">Venom é uma entidade alienígena
                            simbiótica que se une a um hospedeiro humano,
                            geralmente Eddie Brock. Juntos, formam uma criatura
                            poderosa, sombria e imprevisível.

                        </p>
                    </div>

                    <div class="card">
                        <img src="/static/image/ciclope.jpg"
                            alt="Ciclope">
                        <h3>Ciclope</h3>
                        <p class="descricao">Ciclope, também conhecido como
                            Scott Summers, é um dos líderes dos X-Men. Ele
                            possui o poder de disparar raios de energia pelos
                            olhos e é conhecido por seu senso de
                            responsabilidade, estratégia e lealdade à causa
                            mutante.

                        </p>
                    </div>

                    <div class="card">
                        <img src="/static/image/deadpool.jpg"
                            alt="deadpool">
                        <h3>Deadpool</h3>
                        <p class="descricao">Deadpool é um anti-herói,
                            conhecido pelo humor sarcástico, por quebrar a
                            quarta parede e por sua cura acelerada.
                            Ex-mercenário, Wade Wilson ganhou poderes em um
                            experimento que também desfigurou seu corpo. É
                            caótico, violento, mas às vezes age como herói.
                        </p>
                    </div>

                </section>

                <section class="curiosidades" id="curiosidades">
                    <div class="container-curiosidades">
                        <h2>Curiosidades</h2>

                        <div class="lista-curiosidades">
                            <div class="curio">
                                Stan Lee fez aparições especiais em quase
                                todos os filmes da Marvel até sua morte.
                            </div>
                            <div class="curio">
                                O escudo do Capitão América já foi feito de
                                diferentes materiais nos quadrinhos,
                                incluindo adamantium e vibranium.
                            </div>
                            <div class="curio">
                                O nome original do Wolverine seria “The
                                Badger”, mas foi alterado no último momento.
                            </div>
                            <div class="curio">
                                O Homem de Ferro foi criado em apenas 4
                                semanas para desafiar leitores a gostarem de
                                um personagem com perfil “capitalista e
                                arrogante”.
                            </div>
                        </div>
                    </div>
                </section>

            </main>

            <footer>

                <p>© 2025 Shipinn</p>

            </footer>

        </body>
    </html>